# Introduction

The notebook is intended to perform an EDA over the provided data.

In [11]:
# Import Standard Modules
import pandas as pd

# Set Pandas options
pd.set_option('display.max_colwidth', 10000)

#Â Read Data

In [2]:
# Read greenhouse gas data
greenhouse_gas_data = pd.read_csv('./data/greenhouse_gas_inventory_data_data.csv', encoding='latin1')

In [3]:
greenhouse_gas_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8406 entries, 0 to 8405
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_or_area  8406 non-null   object
 1   year             8406 non-null   int64
 2   value            8406 non-null   float64
 3   category         8406 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 262.8+ KB

In [12]:
greenhouse_gas_data.head()

  country_or_area  year          value                                                                                                       category
0       Australia  2014  393126.946994  carbon_dioxide_co2_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent
1       Australia  2013  396913.936530  carbon_dioxide_co2_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent
2       Australia  2012  406462.847704  carbon_dioxide_co2_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent
3       Australia  2011  403705.528314  carbon_dioxide_co2_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent
4       Australia  2010  406200.993184  carbon_dioxide_co2_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent

# Greenhouse Gas Data

## country_or_area

In [15]:
# Check for NaN Values
print("Country or Area NaN values count: {}".format(len(greenhouse_gas_data[greenhouse_gas_data['country_or_area'].isna()])))

Country or Area NaN values count: 0